<select name="region_of_origin" id="id_regions" class="form-control">
    <option value="Extreme-Nord">Extreme-Nord</option>
    <option value="Nord">Nord</option>
    <option value="Adamaoua">Adamaoua</option>
    <option value="Est">Est</option>
    <option value="Centre">Centre</option>
    <option value="Sud">Sud</option>
    <option value="Littoral">Littoral</option>
    <option value="Ouest">Ouest</option>
    <option value="Nord-Ouest">Nord-Ouest</option>
    <option value="Sud-Ouest">Sud-Ouest</option>
</select>