{% extends "base.html" %}


{% block title %}
App
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-12   d-flex ">
    <a class="btn btn-primary btn-sm ml-auto" href="{% url 'app:student-add' %}">Ajouter un nouvel étudiant</a>
  </div>
</div>

<section class="py-4">
  <h4 class="mb-0">Nouvels étudiants</h4>
  <hr class="mg-b-40">
  <div class="row tx-14">
    {% for student in recent_students %}
    <div class="col-sm-4 mb-4">
      {% include "app/includes/single-folder.html" with item=student %}
    </div>
    
    {% empty %}
    <div class="col-12">
      <h5 class="text-center text-primary">Aucun nouvel étudiant</h5>
    </div>
    {% endfor %}
    
  </div>
</section>

<!-- <section class="py-4">
  <h4 class="mb-0">Nouveaux documents</h4>
  <hr class="mg-b-40">
  <div class="row tx-14 px-3">


    {% for document in recent_documents %}
    <div class="col-sm-4 mb-4">
      {% include "app/includes/single-document.html" with item=document %}
    </div>
    {% empty %}
    <div class="col-12">
      <p class="text-center">Aucun nouveau document</p>
    </div>
    {% endfor %}

  </div>
</section> -->
{% endblock content %}