{% extends "base.html" %}

{% load humanize %}
{% load sizify %}

{% block title %}
{{student.serial_number}}
{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
  <li class="breadcrumb-item active">
    {{student.get_full_name }}
  </li>
{% endblock breadcrumbs %}
{% block content %}

<div class="row mt-4 mb-3">
  <div class="col-12 d-flex align-items-center justify-content-between">
    <h5>
      
      {{student.serial_number}} - <span class="text-uppercase">{{student.get_full_name}}</span>
     
    </h5>
    <span class="float-right">
      <a href="{% url 'app:document-create' uid=student.uid %}" class="btn btn-secondary btn-sm">Nouveau document</a>
      <a href="{% url 'app:admission-form' uid=student.uid %}" class="btn btn-primary btn-sm">Ajouter une fiche d'inscription</a>
    </span>
  </div>
</div>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
  {% endfor %}
{% endif %}
<p class="mb-0 mt-5">Documents</p>
<hr class="mg-y-40 mt-0">
<div class="row">


  {% for document in student.documents.all %}
  <div class="col-sm-4 mb-4">
    {% include "app/includes/single-document.html" with item=document %}

  </div>
  {% empty %}
  <div class="col-12">
    <p class="text-center">Aucun document trouvé pour l'étudiant {{student.get_full_name}}</p>
  </div>
  {% endfor %}

</div>
<p class="mb-0 mt-5">Fiches d'inscription</p>

<hr class="mg-y-40 mt-0">
<div class="row">
{% for admission in student.admissions.all %}
<div class="col-sm-4">
  <div class="card card-file">
    <div class="dropdown-file">
      <a href="#" class="dropdown-link" data-toggle="dropdown"><i data-feather="more-vertical"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="#modalViewDetails" data-toggle="modal" class="dropdown-item details"><i data-feather="info"></i>
          Details</a>
  
        <a href="#" class="dropdown-item delete"><i data-feather="trash"></i>Supprimer</a>
      </div>
    </div><!-- dropdown -->
    <div class="card-file-thumb tx-danger">
      <i class="far fa-file"></i>
    </div>
    <div class="card-body">
      <h6><a href="{{admission.file.url}}" class="link-02" target="blank" >Fiche d'inscription: {{admission.level}}</a></h6>
    </div>
    <div class="card-footer"><span class="d-none d-sm-inline">Date d'ajout: </span><span class="text-dark">{{admission.created_at|naturalday}}</span></div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}